@use "sass:color";

$color-white: #ffffff;
$color-grey: #f5f5f5;
$color-blue-1: #1e90ff;
$color-blue-2: #6495ed;
$color-dark: #2f4f4f;

.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & > form {
    background-color: $color-grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px $color-dark;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;
      text-align: center;
    }

    h1 {
      color: $color-dark;
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $color-blue-2;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      background-color: $color-blue-1;
      color: $color-white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;

      &:hover {
        background-color: color.adjust($color-blue-2, $lightness: -15%);
      }
    }
  }
}

.processingText {
  color: $color-dark;
  font-size: 1.2em;
  margin: 10px 0;
  font-weight: bold;
}
