$primary-color: DodgerBlue;
$hover-color: DeepSkyBlue;
$shadow-dark: black;
$shadow-light: white;

.heading {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 45px;
  margin: 35px 0;
  padding: 0;
  color: white;
  text-align: center;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  position: relative;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modeButton {
  background-color: white;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  box-shadow: inset 0 0 2px $shadow-dark;
  transition: 0.2s all;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;

  &:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px $shadow-light;
  }

  .icon {
    margin-left: 6px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 0.18em;
  }
}

.inputBox {
  width: 100%;
  font-family: inherit;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px $shadow-dark;

  &:focus {
    outline: none;
  }
}

.backButton {
  position: absolute;
  width: 110px;
  height: 50px;
  margin-top: 10px;
  border-radius: 50px;
  right: -18px;
  border: 0;
  font-size: 20px;
  padding: 0 6px 0px 5px;
  background-color: $primary-color;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px $shadow-dark;
  cursor: pointer;

  .backIcon {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 4px;
  }

  &:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px $shadow-dark;
  }
}

.suggestions {
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 40px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.suggestionItem {
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  &:last-child {
    padding-bottom: 12px;
  }
}

@media (hover: hover) {
  .backButton:hover {
    background-color: $hover-color;
  }

  .modeButton:hover {
    background-color: $hover-color;
    box-shadow: none;
    color: white;
  }

  .suggestionItem:hover {
    background-color: Gainsboro;
  }
}

@media (hover: none) and (pointer: coarse) {
  .backButton:active {
    background-color: $hover-color;
  }

  .modeButton:active {
    background-color: $hover-color;
    box-shadow: none;
    color: white;
  }

  .suggestionItem:active {
    background-color: Gainsboro;
  }
}
